<div class="card-panel  blue bodyDiv">
  <div class="container bodyContainer">
    <div class="row">
      <div class="card">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab active"><a href="#signin">Chat App Login</a></li>
            <li class="tab">
              <a href="#signup">Chat App SignUp</a>
            </li>
          </ul>
        </div>
        <div class="card-content">
          <p>Welcome In Chatt App</p>
        </div>
        <div>
          <div id="signin">
            <app-signin></app-signin>
          </div>
          <div id="signup">
            <app-signup></app-signup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
