#title {
    background-color: #64b5f6;
    color: #ffffff;
    padding: 8px;
    margin-top: 0px;
    font-weight: 700;
    text-align: center;
  }
  #panel {
    background-color: #ffffff;
  }
  #panel {
    padding: 0px;
  }